<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">
  {% include "components/head.njk" %}
  <body class="body">
    {% include "components/header.njk" %}
    <main class="main">
      <section class="section section--dark section--rounded-top section--page-article">
        <div class="container">
          <div class="page-article">
            <nav class="page-article__navigation">
              <a href="{{ '/blog/' | url }}" class="navigate-button">
                <svg width="15" height="12" viewbox="0 0 19 14" color="currentColor">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12.2511 0.292893C11.8605 -0.0976311 11.2274 -0.0976311 10.8368 0.292893C10.4463 0.683417 10.4463 1.31658 10.8368
                      1.70711L15.0414 5.91162L1 5.91162C0.447715 5.91162 0 6.35934 0 6.91162C0 7.46391 0.447715 7.91162 1 7.91162L15.0047
                      7.91162L10.8368 12.0795C10.4463 12.4701 10.4463 13.1032 10.8368 13.4937C11.2274 13.8843 11.8605 13.8843 12.2511
                      13.4937L18.1444 7.60042L18.8515 6.89332L18.1444 6.18621L12.2511 0.292893Z"
                    fill="currentColor"
                    style="transform-origin: 50% 50%; transform: rotate(180deg)"/>
                </svg>
                Back
              </a>
            </nav>
            <div class="page-article__summary">
              <div class="article">
                <div class="article__link">
                  <h3 class="article__title">
                    {% if title %}
                      {{ title }}
                    {% else %}
                      Untitled
                    {% endif %}
                  </h3>
                </div>
                <p class="article__text">
                  {% if summary %}
                    {{ summary }}
                  {% else %}
                    No description provided...
                  {% endif %}
                </p>
                <div class="article__footer">
                  <span class="article__info">
                    <time datetime="{{ post.date | machineDate }}">{{ date | readableDate }}</time>
                    • 3 MIN READ
                    {% if authors %}
                      {% for firstauthor in authors.slice(0, 1) %}
                        • {{ firstauthor.name }}
                      {%- endfor -%}
                    {% endif %}
                  </span>
                  {% if tags %}
                    <ul class="tags article__tags">
                      {% for tag in tags %}
                        <li class="tag article__tag">
                          {{ tag }}
                        </li>
                      {%- endfor -%}
                    </ul>
                  {% endif %}
                </div>
              </div>
            </div>
            <article class="page-article__content">
              {{ layoutContent | safe }}
            </article>
            {% if authors %}
              <div class="page-article__authors authors">
                <span class="authors__label">Written by</span>
                <ul class="authors__list">
                  {% for author in authors %}
                    <li class="author">
                      {% if author.image %}
                        <img src="{{ author.image }}" alt="{{ author.name }} photo" class="author__image">
                      {% endif %}
                      <div class="author__info">
                        <h6 class="author__name">{{ author.name }}</h6>
                        {% if author.summary %}
                          <p class="author__summary">
                            {{ author.summary }}
                          </p>
                        {% endif %}
                      </div>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
      </section>
      {% include "components/create.njk" %}
    </main>
    {% include "components/footer.njk" %}
  </body>
  {% include "components/scripts.njk" %}
</html></body></html>